<!doctype html>
<html>
<head>
    <title>Music</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/fe624aa763.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <section>
          <img src="img/mfd6.png" alt="">
        </section>

        <!-- <h1><span class="fas fa-headphones"></span> Profile Page</h1> -->
        <!-- <h1><span class="fab fa-slack-hash"></span>Profile Page</h1> -->
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/CRHyBwNtkLA?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <div class="slideshow-container">

        <div class="mySlides fade">
        <div class="numbertext">1 / 12</div>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallup.net%2Fwp-content%2Fuploads%2F2017%2F11%2F10%2F334412-MF_DOOM-madvilliany.jpg&f=1&nofb=1" style="width:100%" style=height:"500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>

        <div class="mySlides fade">
        <div class="numbertext">2 / 12</div>
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic.giantbomb.com%2Fuploads%2Foriginal%2F6%2F65384%2F1325992-multiple_hustle_sunset_doom.jpg&f=1&nofb=1" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>

        <div class="mySlides fade">
        <div class="numbertext">3 / 12</div>
        <img src="img/mfd5.jpg" style="width:100%" height="500px">
    <!-- https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.3CP8x0hX0tGJ-y971vGRygHaHa%26pid%3DApi&f=1 -->
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">4 / 12</div>
        <img src="img/mfd4.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>

        <div class="mySlides fade">
        <div class="numbertext">5 / 12</div>
        <img src="img/mfd7.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">6 / 12</div>
        <img src="img/mfd8.png" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">7 / 12</div>
        <img src="img/mf9.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">8 / 12</div>
        <img src="img/mf10.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">9 / 12</div>
        <img src="img/mf11.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">10 / 12</div>
        <img src="img/mf12.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">11 / 12</div>
        <img id="picEleven" src="img/mf13.jpg" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>
        <div class="mySlides fade">
        <div class="numbertext">12 / 12</div>
        <img src="img/mf14.png" style="width:100%" height="500px">
        <!-- <div class="text">MF Doom</div> -->
        </div>

        <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

        </div>
        <!-- <br> -->

        <!-- <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        </div> -->

        <iframe width="560" height="315" src="https://www.youtube.com/embed/CRHyBwNtkLA?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen contorls autoplay></iframe>
        <!-- <video src="https://www.youtube.com/watch?v=CRHyBwNtkLA" autoplay controls> </video> -->

    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->
        <div class="col-sm-6">
          <h3>Chat Blog</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
<!-- LogOut -->

</div>
<section class="logOut">
  <br>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</section>
<script src="main.js"></script>

</body>
</html>
